@font-face {
    font-family: 'Bebas N';
    src: url('../Fonts/Bebas_Neue/BebasNeue-Regular.ttf')format("woff");
}
@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/Montserrat/Montserrat-Regular.woff2')format("woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    display: none;
}
.home{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 15%;
    height: 20vh;
    padding-top: 1%;

}

.content{
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.slogan{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 50vw;
    gap: 10%;
    font-family: 'Bebas N';
    flex: 1;
    font-size: 5.2em;
}

.slogan__1, .slogan__2{
    padding-left: 20%;
    line-height: 1em;
}

.slogan__line{
    background-color: #BFFF00;
    height: 2px;
    border: none;
}
.phrase{
    font-family: 'Montserrat';
    text-align: end;
    flex: 1;
    
    height: 80vh;
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 11%;
}
.phrase__text1{
    font-size: 2em;
}
.phrase__text2{
    font-size: 1.21em;
}

/*-------------------------CEPA 1----------------------------*/

.cepa1 , .cepa2 , .cepa3 ,.cepa4{
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 8% 0 8% 2%;
    gap: 2%;
}

.character , .character--2 , .character--3, .character--4 {
    height: 80vh;
    width: 50vw;
    /* border: #BFFF00 solid 2px; */
}


.character__img{
    height: 100%;
    filter: drop-shadow(
        0 0 10px #ff9d00d3
    );
    
}

.info{
    display: flex;
    flex-direction: column;
    gap: 14%;

}

.part__title{
    font-family: 'Bebas N';
    font-size: 4em;
    line-height: 1em;
}

.part__line{
    margin: 1% 0;
    border: none;
    height: 3px;
    background-color: #FF9D00;
}

.part__paragraph{
    font-family: 'Montserrat';
    font-size: 1.3em;
    padding-right: 3%;
}

.part2{
    display: flex;
    justify-content: start;
    gap: 30%;
}

.effects__title , .profiles__title{
    font-family: 'Bebas N';
    font-size: 2.5em;
}

.list{
    list-style-type: none;
    font-family: 'Montserrat';
    font-size: 1.3em;
}

.part3__title{
    font-family: 'Bebas N';
    font-size: 2.5em;
}

.line{
    width: 80%;
    height: 20px;
    background-color: #FFCC7B;
}
.line__front{
    width: 70%;
    height: 20px;
    background-color: #DF8900;
}

.values{
    display: flex;
    gap: 15%;
    margin: 3% 0 3% 0;
}

.sativa , .indica{
    width: 15%;
    display: flex;
    font-family: 'Montserrat';
    font-size: 1.3em;
    align-items: center;
    gap: 10%;
}


.sativa__icon , .indica__icon{
    height: 20px;
    width: 20px;

}
.sativa__icon{
    background-color: #DF8900;
}
.indica__icon{
    background-color: #FFCC7B;
}  

/*--------------------------CEPA 2 ----------------------------*/

.cepa2{

    background-color: #0E000C;
    color: #ffffff;
    
}

.character__img--2{
    height: 100%;
    filter: drop-shadow(
        0 0 10px #FF1C8Ad3
    );
    
}

.part__line--2{
    margin: 1% 0;
    border: none;
    height: 3px;
    background-color: #FF1C8A;
}

.line--2{
    width: 80%;
    height: 20px;
    background-color: #FF92C6;
}
.line__front--2{
    width: 50%;
    height: 20px;
    background-color: #FF1C8A;
}

.sativa__icon--2 , .indica__icon--2{
    height: 20px;
    width: 20px;

}

.sativa__icon--2{
    background-color: #FF1C8A;
}
.indica__icon--2{
    background-color: #FF92C6;
} 

/*----------------------CEPA 3 -----------------------------*/

.character__img--3{
    height: 100%;
    filter: drop-shadow(
        0 0 10px #0077FFd3
    );
    
}

.part__line--3{
    margin: 1% 0;
    border: none;
    height: 3px;
    background-color: #0077FF;
}

.line--3{
    width: 80%;
    height: 20px;
    background-color: #63ACFF;
}
.line__front--3{
    width: 80%;
    height: 20px;
    background-color: #0077FF;
}

.sativa__icon--3 , .indica__icon--3{
    height: 20px;
    width: 20px;

}

.sativa__icon--3{
    background-color: #0077FF;
}
.indica__icon--3{
    background-color: #63ACFF;
} 


/*--------------------------------CEPA 4 --------------------------*/
.cepa4{

    background-color: #0E000C;
    color: #ffffff;
    
}

.character__img--4{
    height: 100%;
    filter: drop-shadow(
        0 0 10px #d3fd00d3
    );
    
}

.part__line--4{
    margin: 1% 0;
    border: none;
    height: 3px;
    background-color: #d3fd00;
}

.line--4{
    width: 80%;
    height: 20px;
    background-color: #E8FDBD;
}
.line__front--4{
    width: 65%;
    height: 20px;
    background-color: #d3fd00;
}

.sativa__icon--4 , .indica__icon--4{
    height: 20px;
    width: 20px;

}

.sativa__icon--4{
    background-color: #d3fd00;
}
.indica__icon--4{
    background-color: #E8FDBD;
} 



/*----------------------------------RESPONSIVE----------------------*/


@media  screen and (min-width:225px) and (max-width:762px){
    .logo{
        width: 35%;
        height: 10vh;
        padding-top: 5%;
    }

    .content{
        flex-direction: column;
        width: 100vw;
        height: 90vh;
        align-items: flex-start;
        justify-content: center;

        gap: 0;
    }

    .slogan{
        flex-direction: column;
        justify-content: center;
        height: 0vh;
        width: 70vw;
        gap: 5%;
        font-size: 3em;
        flex: 2;
    }
    
    /* .slogan__1, .slogan__2{
        padding-left: 20%;
        line-height: 1em;
    } */
    
    .phrase{
        font-family: 'Montserrat';
        text-align: center;
        flex: 1;
        width: 100vw;

        flex-direction: column;
        justify-content: flex-end;
    
        padding: 0%;
        padding-bottom: 10%;
    }
    .phrase__text1{
        font-size: 1.3em;
    }
    .phrase__text2{
        font-size: 0.78em;
    }



    /*------------------CEPAS-------------------------------------------*/

    .cepa1 , .cepa2 , .cepa3 ,.cepa4{
        height: 150vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2% 2%;
        gap: 5%;
    }

    .character , .character--2 , .character--3 , .character--4{
        display: flex;
        justify-content: center;
        height: 50vh;
    }

    .character__img , .character__img--2 , .character__img--3, .character__img--4{
        height: 100%;

        
    }


    .info{
        display: flex;
        flex-direction: column;
        gap: 8%;
        height: 100vh;

    }
    
    .part__title{
        font-family: 'Bebas N';
        font-size: 1.9em;
        line-height: 1em;

    }
    .part__line , .part__line--2, .part__line--3, .part__line--4{
        margin: 2% 0;
    }
    .part__paragraph , .list{
        font-size: 1.1em;
    }

    .effects__title , .profiles__title ,.part3__title{
        font-family: 'Bebas N';
        font-size: 1.5em;
    }

    .sativa__icon, .sativa__icon--2 ,.sativa__icon--3 , .sativa__icon--4{
        height: 20px;
        width: 20px;
        margin-right: 10px;

    }
    .indica__icon, .indica__icon--2 ,.indica__icon--3 , .indica__icon--4{
        height: 20px;
        width: 20px;
        margin-right: 10px;

    }
    .sativa , .indica{
        width: auto;
        display: flex;
        font-family: 'Montserrat';
        font-size: 1em;
        gap: 0%;
    }

}

